.modal-common input[placeholder="Field name"] {
    height: 31px;
    padding: 5px;
    font-size: 14px;
    border-radius: 6px;
    border-color:#DCDCDC;
}
.modal-common Input.Password[placeholder="Input password"]{

}
.modal-common select[placeholder="Select a group"]{
    width: 60%;
    margin-bottom: 10px;
    display: block;
    display: flex;
    flexDirection: column;
    alignItems: flex-start;
}
.modal-common input[placeholder="Share password"]{
    display: flex;
    alignItems: center;
    border: 1px solid #d9d9d9;
    padding: 10px;
    borderRadius: 10px;
    marginBottom: 15px;
    width: 100%;
    maxWidth: 600px;
}
.modal-common input[placeholder="Or enter new group name"] {
    margin-top: 10px;
    width: 50%;
    height: 31px;
    border-radius: 6px;
    border-color:#DCDCDC;
    display: block;
}
.modal-common input[placeholder="Comments (optional)"]{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 31px;
    border-radius: 6px;
    border-color:#DCDCDC;
}
.modal-common input[placeholder="URL (optional)"]{
    marginBottom: 10px;
    height: 31px;
    border-radius: 6px;
    border-color:#DCDCDC;
}
